/* Fix the box model. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#container{
  background: white;
  width: auto;
  height: 10000px;
}

#main_header{
  opacity: 0.8;
  width: 100%;
  position: fixed;
}

#header_img{
  float: left;
  width: auto;
  padding-top: 5px;
}

#title_header{
  background: white;
  line-height: .05;
  width: 50%;
  height: 75px;
  float: left;
  padding-left: 10px;  
  display: inline-block;
}

#title_header h1, p{
  padding-left: 60px;
}

#navbar{
  background: white;
  width: 50%;
  padding: 10px;
  padding-left: 300px;
  float: right;
  height: 75px;
}

#navbar li{
  display: inline-block;
}

#summary{
  padding-top: 50px;
  background: #D4D4D4;
  width: auto;
  height: 800px;
}

#content{
  width: 57%;
  height: 800px;
  float: left;
}

#content h1{
  margin: 0 ;
}

#content h2{
  padding-left: 60px;
}

#content p{
  line-height: 3;
}

#image{
  width: 600px;
  height: 800px;
  background: #D4D4D4;
  display: inline-block;
  float: right;
}

#image img{
  border-radius: 1000%;
  padding: 40px;
}

#style_desc{
  background: gray;
  width: 1400px;
  height: 1070px;
}

#title1{
  width: 1400px;
  height: 100px;
  background: purple;
  float: left;
  padding-left: 575px;
}

#rural{
  background: white;
  width: 1400px;
  height: 300px;
  float: left;
  padding-left: 650px;
}

#still{
  background: black;
  color: white;
  width: 50%;
  float: left;
  height: 300px;
  padding-left: 225px;
}


#motion{
  background: blue;
  width: 50%;
  float: left;
  height: 300px;
  padding-left: 225px;
  display: inline-block;
}

#urban{
  background: teal;
  width: 1400px;
  height: 300px;
  float: left;
  padding-left: 650px;
}

#process1{
  background: orange;
}

#proc_header h1{
  height: 25px;
  margin: 0;
  padding-left: 600px;
}

#proc_img h1{
  margin: 0;
  background: blue;
  display: inline-block;
  padding-left: 275px;
}

